DATAMOON_GATEWAY_BIND_ADDRESS=127.0.0.1
DATAMOON_GATEWAY_PORT=5100
DATAMOON_GATEWAY_MAX_CLIENTS=100
DATAMOON_GATEWAY_REQUIRE_TLS=false
DATAMOON_AUTH_HOST=127.0.0.1
DATAMOON_AUTH_PORT=5200
DATAMOON_API_BASE_URL=http://127.0.0.1:3000
DATAMOON_OVERWORLD_FALLBACK_HOST=gateway-pbe.datamoononline.com.br
DATAMOON_OVERWORLD_FALLBACK_PORT=5000
DATAMOON_REQUIRED_CLIENT_RELEASE_CHANNEL=Beta
DATAMOON_REQUIRED_CLIENT_VERSION=0.03
DATAMOON_LOG_STDOUT=true
DATAMOON_LOG_FILES=true
