DATAMOON_AUTH_BIND_ADDRESS=127.0.0.1
DATAMOON_AUTH_PORT=5200
DATAMOON_AUTH_MAX_GATEWAYS=2
DATAMOON_GAME_AUDIENCE=local-1
DATAMOON_API_BASE_URL=http://127.0.0.1:3000
DATAMOON_LOG_STDOUT=true
DATAMOON_LOG_FILES=false
