DATAMOON_API_BASE_URL=http://127.0.0.1:3000
DATAMOON_CATALOG_VERSION=p0-2026-07-15
DATAMOON_REQUIRED_CLIENT_RELEASE_CHANNEL=Beta
DATAMOON_REQUIRED_CLIENT_VERSION=0.03
DATAMOON_WORKER_HEARTBEAT_SECONDS=5
DATAMOON_LOG_STDOUT=true
DATAMOON_LOG_FILES=false
DATAMOON_LOG_LEVEL=INFO
GODOT_SILENCE_ROOT_WARNING=1
